header, main, footer, .container-fluid {
  margin-left: 300px;
}
.formBusqueda .input-field label {
    margin-left: 15px;


}
.btnCargarMas button{
      height: 50px;
      width: 100%;

}
.btn{
    background-color: #4caf50;
}
.etiquetas{
  top: 3.8em!important;
  margin-left: 15px;

}

.select-wrapper+label{
    top: 4.8rem;
}
.btn-enviar{
  margin-left: 40px;
}
.caret{
  display: none;
}
.input-field label:not(.label-icon).active {
    font-size: 1.2rem;
}
input[type=text]  {
      font-size: 1.5rem!important;
}
.container-fluid{
  padding-top:87px;
}
#slide-out{
  z-index: 1;
    margin-top: 64px;
}
#username{
  padding-bottom: 32px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}
.material-icons{
  display: inline-block;
}
nav{
  position: fixed!important;
}
nav .nav-wrapper{
  background-color: #4caf50;
}
nav .brand-logo{
  padding-left: 32px;
}
@media only screen and (max-width : 992px) {
  header, main, footer, .container-fluid {
    margin-left: 0;
  }
  nav .brand-logo{
    padding-left: 0px;
  }
  #slide-out{
    z-index: 999;
      margin-top: 0px;
  }
}
